body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
#playAgainBtn {
  margin-bottom: 8px;
  font-size: 16px;
  background-color: rgb(117, 199, 226);
  color: white;
  border: white 1px solid;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 40px;
}
.gameovermodal {
  background-color: rgba(128, 128, 128, 0.337);
}
#playAgainBtn:hover {
  background-color: rgb(118, 211, 243);
}
#board {
  /* background-color: skyblue; */
  background-image: url("./imgs/flappybirdbg.png");
}
